# =========================
# Editor / local tooling
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store
._*

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# =========================
# Tool-specific
# =========================
*.drawio.bkp
zudoku/node_modules/*
zudoku/package.json
zudoku/package-lock.json
zudoku/dist.tmp/